*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #eafeff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: steelblue;
    text-transform: capitalize;
}

.morning{
    color: #018d4c;
}
.afternoon{
    color: #d3b327;
}
.night{
    color: #111111;
}